# 面向对象Class

In [39]:
class Person(object): # 表示继承
    def __init__(self,name,age):
        self.name=name #==this
        self.age=age
        
    def getNewAge(self,plus):
        self.age+=plus
        return self.age
    
    def getOrder(self):
        return self.age
    
    def toList(self):
        return [self.name,self.age]

In [40]:
p1=Person("Frank",13)

In [41]:
p1.age

13

In [42]:
p1.getNewAge(12)

25

In [43]:
pl.age

25

In [44]:
p2=Person("Mike",34)
p3=Person("Tony",65)
p4=Person("Test",23)

In [45]:
plist=[p1,p2,p3,p4]

In [46]:
plist

[<__main__.Person at 0x18ceab37240>,
 <__main__.Person at 0x18ceab37940>,
 <__main__.Person at 0x18ceab37908>,
 <__main__.Person at 0x18ceab37978>]

In [47]:
for p in plist:
    print(p.toList())

['Frank', 25]
['Mike', 34]
['Tony', 65]
['Test', 23]

In [48]:
plist.sort(key=lambda x:x.getOrder())

In [50]:
for p in plist:
    print(p.toList())

['Test', 23]
['Frank', 25]
['Mike', 34]
['Tony', 65]