# 特殊数据类型

## 1.时间
> ``` 
标准类型:年-月-日 时:分:秒（2017-10-06 20:05:49.549052）
```

In [2]:
from datetime import datetime as dt
now=dt.now()
now

datetime.datetime(2017, 10, 6, 21, 58, 21, 9994)

In [3]:
print(now)

2017-10-06 21:58:21.009994

> ``` 
自定义时间
```

In [4]:
ndt=dt(2017,10,16,13,33,33)
print(ndt)

2017-10-16 13:33:33

In [5]:
ndt=dt(2017,10,16,13,)
print(ndt)

2017-10-16 13:00:00

In [10]:
ndt=dt(2017,10,21)
print(ndt)

2017-10-21 00:00:00

In [12]:
s_time=dt.strptime('2017-10-1 19:19:59', '%Y-%m-%d %H:%M:%S')
print(s_time)

2017-10-01 19:19:59

> 
```
时间戳：自1970年1月1日 00:00:00 后UTC+0:00的秒数
```

In [19]:
ndt=dt(1970,1,2,8,0,1,) 
print(ndt)

1970-01-01 10:00:01

In [14]:
ndt.timestamp() #86401/60/60=24

86401.0

In [15]:
t=86401.0

In [16]:
print(dt.fromtimestamp(t))

1970-01-02 08:00:01

In [17]:
print(dt.utcfromtimestamp(t)) # UTC时间

1970-01-02 00:00:01

> 
```
时间加减
```

In [56]:
print(ndt)

1970-01-02 08:00:01

In [61]:
from datetime import timedelta
ndt=ndt+timedelta(days=1)
print(ndt)

1970-01-03 08:00:01

In [63]:
ndt=ndt+timedelta(hours=1)
print(ndt)

1970-01-03 09:00:01

In [71]:
ndt=ndt+timedelta(hours=1,days=1,minutes=1,seconds=12,weeks=12)
print(ndt)

1970-06-25 14:05:37

In [76]:
minu_time=dt.now()-ndt
print(minu_time)

17270 days, 6:26:04.200267

In [77]:
print(minu_time.days)

17270

In [78]:
minu_time=dt.now()+ndt
print(minu_time)

TypeError: unsupported operand type(s) for +: 'datetime.datetime' and 'datetime.datetime'




## 2.Collections

In [80]:
import collections as cl

> 
```
 namedtuple(name,[])
```

In [81]:
 Point = cl.namedtuple('Point', ['x', 'y'])

In [82]:
p=Point(1,2)

In [83]:
p.x

1

In [84]:
p.y

2

In [86]:
Person=cl.namedtuple('Person',['age','language','nation'])

In [97]:
p1=Person(72,"Chinese","China")
p2=Person(17,"B","B++")
p3=Person(20,"C","C++")

In [98]:
la=list([p1,p2,p3])

In [99]:
la

[Person(age=72, language='Chinese', nation='China'),
 Person(age=17, language='B', nation='B++'),
 Person(age=20, language='C', nation='C++')]

In [100]:
la.sort(key=lambda x:(x.age))  
la

[Person(age=17, language='B', nation='B++'),
 Person(age=20, language='C', nation='C++'),
 Person(age=72, language='Chinese', nation='China')]

> 
```
 Counter
```

In [104]:
s="this is a test"

In [105]:
s_l=list(s)

In [106]:
s_l

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 't', 'e', 's', 't']

In [107]:
c=cl.Counter(s_l)
c

Counter({' ': 3, 'a': 1, 'e': 1, 'h': 1, 'i': 2, 's': 3, 't': 3})

In [109]:
c['s']

3

> 
```
 defaultdict
```

In [117]:
dd=cl.defaultdict(lambda: 'None')

In [118]:
dd['a']=12

In [119]:
dd['b']

'None'

In [120]:
dd

defaultdict(<function __main__.<lambda>>, {'a': 12, 'b': 'None'})

> 
```
 OrderedDict
```

In [129]:
od= cl.OrderedDict()

In [130]:
od['a']=12
od['b']=14

In [131]:
od

OrderedDict([('a', 12), ('b', 14)])

## 3.其他：
### XML,HTML,base64（F|YmluYX323J5AHN0cmluZw==）