```  
SELECT * FROM codingpupils.person;
Insert Into codingpupils.person (name,age,language,create_time,update_time,status) values("frank",23,"en","2017-10-27 21:30:00","2017-10-27 21:30:00",1)
Select * from codingpupils.person where status=0 order by name DESC
SET SQL_SAFE_UPDATES=0; 
DELETE FROM codingpupils.person  WHERE name = 'frank' 
UPDATE codingpupils.person SET status=1 WHERE name="ted"
```