# 面向对象Class

In [14]:
class Person(object): # 表示继承
    def __init__(self,name,age):
        self.name=name #==this
        self.age=age
        
    def getNewAge(self,plus):
        self.age+=plus
        return self.age
    
    def getOrder(self):
        return self.age
    
    def toList(self):
        return (self.name,self.age)

In [15]:
p1=Person("Frank",13)

In [16]:
p1.age

13

In [17]:
p1.getNewAge(12)

25

In [18]:
p1.age

25

In [19]:
p2=Person("Mike",34)
p3=Person("Tony",65)
p4=Person("Test",23)

In [20]:
plist=[p1,p2,p3,p4]

In [21]:
plist

[<__main__.Person at 0x1e80a0f39e8>,
 <__main__.Person at 0x1e80a0e9128>,
 <__main__.Person at 0x1e80a0e90f0>,
 <__main__.Person at 0x1e80a0e9160>]

In [22]:
for p in plist:
    print(p.toList())

('Frank', 25)
('Mike', 34)
('Tony', 65)
('Test', 23)

In [23]:
plist.sort(key=lambda x:x.getOrder())

In [24]:
for p in plist:
    print(p.toList())

('Test', 23)
('Frank', 25)
('Mike', 34)
('Tony', 65)