# 上周作业答案
> 1.写十个人的object(用dict)，包含姓名（String），年龄（Int），出生地（String），兴趣爱好（list）。完成后，将这个10个写好的dict组合成一个list，按照年龄排好序，并且打印出来

> 2.删除位置在第二个的值，再次打印list

> 3.修改其中的一个名字，打印完整list

In [5]:
p1={"Name":"Frank","age":13,"Birth Place":"Shanghai","Interests":["basketball","soccer"]}
p2={"Name":"Tom","age":32,"Birth Place":"Qingdao","Interests":["Painting","soccer"]}
p3={"Name":"Lee","age":77,"Birth Place":"Shanghai","Interests":["basketball","soccer"]}
p4={"Name":"Lucy","age":11,"Birth Place":"Shanghai","Interests":["basketball","soccer"]}
p5={"Name":"Mike","age":65,"Birth Place":"Shanghai","Interests":["basketball","soccer"]}
p6={"Name":"Johny","age":45,"Birth Place":"Shanghai","Interests":["basketball","soccer"]}
p7={"Name":"Ted","age":43,"Birth Place":"Shanghai","Interests":["basketball","soccer"]}
p8={"Name":"Micheal","age":33,"Birth Place":"Shanghai","Interests":["basketball","soccer"]}
p9={"Name":"Chen","age":15,"Birth Place":"Shanghai","Interests":["basketball","soccer"]}
p10={"Name":"Liu","age":32,"Birth Place":"Shanghai","Interests":["basketball","soccer"]}

In [8]:
plist=[p1,p2,p3,p4,p5,p6,p7,p8,p9,p10]

In [9]:
plist

[{'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Frank',
  'age': 13},
 {'Birth Place': 'Qingdao',
  'Interests': ['Painting', 'soccer'],
  'Name': 'Tom',
  'age': 32},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Lee',
  'age': 77},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Lucy',
  'age': 11},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Mike',
  'age': 65},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Johny',
  'age': 45},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Ted',
  'age': 43},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Micheal',
  'age': 33},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Chen',
  'age': 15},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Liu',
  'age': 32}]

In [10]:
plist.sort(key=lambda x: x['age'])

In [11]:
plist

[{'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Lucy',
  'age': 11},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Frank',
  'age': 13},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Chen',
  'age': 15},
 {'Birth Place': 'Qingdao',
  'Interests': ['Painting', 'soccer'],
  'Name': 'Tom',
  'age': 32},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Liu',
  'age': 32},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Micheal',
  'age': 33},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Ted',
  'age': 43},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Johny',
  'age': 45},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Mike',
  'age': 65},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Lee',
  'age': 77}]

In [13]:
del plist[1]

In [14]:
plist

[{'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Lucy',
  'age': 11},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Chen',
  'age': 15},
 {'Birth Place': 'Qingdao',
  'Interests': ['Painting', 'soccer'],
  'Name': 'Tom',
  'age': 32},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Liu',
  'age': 32},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Micheal',
  'age': 33},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Ted',
  'age': 43},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Johny',
  'age': 45},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Mike',
  'age': 65},
 {'Birth Place': 'Shanghai',
  'Interests': ['basketball', 'soccer'],
  'Name': 'Lee',
  'age': 77}]

In [15]:
plist[0].get(*="Change"

AttributeError: 'dict' object has no attribute 'Name'